@page
@model MyAutoService.Pages.ServiceTypes.IndexModel
@{

}
<h1>Management service Mk</h1>
<hr/>
<div class=" border" style="background-color : white">
	<div class="row"
		<div class="text-info">Our List Service</div>

			<div class="col-6  ">

				<div class="text-info">Our List Service</div>
		</div>
		<div class="col-6 text-left ">
			<a asp-page="Create" class="btn btn-info">
				Add Our service
			</a>
		</div>
		></div>
</div>